body {
  --main-black: #1e1e1e;
  --white: #fff;
  --easy-white: #fbfbfb;
  --black: #000;
  --black-shadow: rgb(0 0 0 / 14%);
  --black-overlay: rgb(0 0 0 / 50%);
  --gray: #eaeaea;
  --easy-gray: #efefef;
  --middle-gray: #f8f8f8;
  --hard-gray: #999;
  --red-warning: #f00;
  --red-warning-easy: #ff9191;
  --red-error: #ff2f2f;
  --blue: #3369f3;
  --easy-blue: #e4edfd;
  --overlay: rgba(3 3 3 / 50%);

  margin: 0;
  color: var(--main-black);
  font-family: Inter;
  line-height: 1;
  font-size: 13px;
}

*, *::before, *::after  {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul, pre {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}
