.username {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}

.info {
  width: 100%;
  margin-bottom: 60px;
}

.btn, .link{
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray);
  text-align: left;
}

.link {
  width: 100%;

  &:first-child {
    padding: 0 0 10px;
  }

  &:last-child {
    padding: 10px 0 0;
    border: none;
  }
}

.btn {
  color: var(--red-warning);
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
