.main {
  display: flex;
  height: 100vh;
}

.forward {
  width: 65px;
  height: 100%;
  background-color: var(--easy-white);
  border-right: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  background: no-repeat url("/svg/arrow.svg");
  display: block;
  width: 29px;
  height: 29px;
  border: none;
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 150px;
}

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
}
