.wrapper {
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.input,
.input::placeholder {
  width: 100%;
  border: none;
  color: var(--hard-gray);
  margin-left: 10px;
  text-align: end;

  &:disabled {
    background-color: transparent;
  }
  
  &:focus {
    outline: none;
  }
}
