.form {
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--white);
  box-shadow: 0 0 6px 0 var(--black-shadow);
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--main-black);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 40px;
}

.field:not(:last-child) {
  margin-bottom: 16px;
}

.link {
  margin-top: 14px;
}
